.service-page {
  .service-page-wrap {
    width:86%;
    margin:0 auto;
    .service-page-list {
      padding-top: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .service-page-item {
        display: flex;
        flex-direction: column-reverse;
        @include M {
          flex-direction: row-reverse;
        }
        +.service-page-item {
          margin-top: 50px;
          @include M {
            margin-top: 60px;
          }
        }
        .service-page-item-inner {
          @include M {
            padding-left: 4%;
          }
          .service-page-item-title {
            font-size: 2.4rem;
            font-weight: bold;
            font-family: 'Montserrat';
            padding:20px 0 15px;
            text-align: center;
            @include M {
              padding:24px 0 17px;
              text-align: left;
            }
          }
          .service-page-item-text {
            font-size: 1.4rem;
            line-height: 1.7;
            font-family: 'ヒラギノ角ゴシック';
            @include M {
              font-size: 1.5rem;
              line-height: 1.8;
            }
          }
        }
        .service-page-img {
          width:100%;
          height:auto;
          @include M {
            max-width:445px;
            max-height:280px;
          }
        }
      }
    }
  }
}