.contact-form {
  .contact-form-text {
    font-size: 1.6rem;
    font-family: "ヒラギノ角ゴシック";
    text-align: center;
    padding: 70px 0 40px;
  }
  .contact-form-wrap {
    width: 75%;
    margin: 0 auto;
    .contact-form-cont {
      background: #f7f7f7;
      .form {
        padding: 90px 8%;
        margin-bottom: 70px;
        .form-parts {
          + .form-parts {
            margin-top: 30px;
          }
          label {
            font-size: 1.6rem;
            font-family: "ヒラギノ角ゴシック";
            // margin-bottom: 10px;
            .mandatory {
              font-size: 1.2rem;
              color: #391e88;
              padding-left: 10px;
            }
            .tel-explanation {
              font-size: 1.2rem;
              padding-left: 5px;
            }
          }
          .radio-cont {
            display: flex;
            flex-direction: column;
            padding-top: 17px;
            @include L {
              flex-direction: column;
            }
            .radio-cont-inner {
              +.radio-cont-inner {
                margin-top: 5px;
                @include L {
                  margin:0;
                  margin-left: 35px;
                }
              }
              .radio-btn {
                width:18px;
                height:18px;
              }
              .radio-text {}
            }
          }
          input {
            font-size: 1.4rem;
            font-family: "ヒラギノ角ゴシック";
            border: 1px solid #aaaaaa;
            border-radius: 3px;
            padding-left: 10px;
          }
          .form-label {
            display: block;
          }
          .form-text {
            width: 300px;
            height: 40px;
            margin-top: 10px;
          }
          textarea {
            display: block;
            border: 1px solid #aaaaaa;
            border-radius: 3px;
            margin-top: 10px;
            width: 300px;
            @include M {
              width: 600px;
            }
          }
          .select {
            display: block;
            border: 1px solid #aaaaaa;
            border-radius: 3px;
            width: 300px;
            height: 40px;
            padding-left: 3%;
            margin-top: 10px;
            .select-item {
            }
          }
        }
        .send {
          @include btn;
          margin: 0 auto;
          margin-top: 50px;
        }
      }
    }
  }
}
